@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Caveat:wght@400..700&family=Edu+NSW+ACT+Foundation:wght@400..700&family=Great+Vibes&family=Lovers+Quarrel&family=Monsieur+La+Doulaise&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Hachi+Maru+Pop&display=swap');
.background{
    background-image: url("https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABRZc7dDJ_p2UhbfiNbhOrTWD20hsjPSvjZ2Cyh8bx1wsmYCRVT82yLc5ZAxjB2jVXLUG_aCEA-x33cTpxMn2vDniRJRgb__5cPyu.jpg?r=cbb");
    height: 95vh;
    background-size: cover;
}
.toptext{
    font-family: roboto;
    font-style: normal;
    padding: 16px;
    padding-left: 9px;
    color: white;
}
.fa-magnifying-glass{
    color: white;
    font-size: 18px;
    padding: 16px;
    padding-left: 23vw;
}
.fa-bell{
    color: white;
    font-size: 18px;
    padding: 16px;
}
.user{
    height: 8vh;
    width: 4vw;
    padding: 10px;
}
.movietitle1{
    font-family: "Hachi Maru Pop", cursive;
    font-style: normal;
    color: white;
    padding-left: 7vw;
}
.movietitle{
    font-family: "Hachi Maru Pop", cursive;
    font-style: normal;
    color: white;
    font-size: 4vw;
}
.title{
    padding: 84px;
}
.tsrdes{
    width: 34vw;
    color: white;
    padding: 7px;
}
.play{
    border-radius: 5px;
    border-width: 0px;
    background-size: cover;
    height: 5vh;
    bottom: 2px;
    font-weight: bold;
}
.fa-play{
    font-size: 21px;
    right: 25px;
    padding-left: 5px;
    padding-right: 12px;
    padding-top: 4px;
}
.moreinfo{
    border-radius: 5px;
    border-width: 0px;
    background-size: cover;
    height: 5vh;
    bottom: 2px;
    font-weight: bold;
    padding-left: 10px;
    background-color: rgb(148, 228, 228);
}
.fa-circle-info{
    font-size: 21px;
    right: 25px;
    padding-left: 5px;
    padding-right: 12px;
    padding-top: 4px;
}
.popular{
    padding-top: 10vh;
    color: white;
    font-weight: bold;
    font-size: 26px;
}
.bottom{
    background-color: rgb(20, 10, 10);
    object-fit: cover;
    background-size: cover;
}
.image{
    height: 23vh;
    width: 26vw;
    padding: 10px;
    padding-left: 20px;
}
.new{
    color: white;
    padding-left: 5vw;
    font-weight: bold;
    font-size: 26px;
    padding-top: 20px;
}
.connect{
    padding: 40px;
}
.icons{
    color: white;
    padding-left: 5vw;
    padding-right: 1vw;
}
.end{
    color: white;
    padding-left: 5vw;
    padding-right: 1vw;
}
.end1{
    color: white;
    padding-left: 9vw;
    padding-right: 1vw;
}
.end2{
    color: white;
    padding-left: 8vw;
    padding-right: 1vw;
}
.end3{
    color: white;
    padding-left: 8vw;
    padding-right: 1vw;
}